@font-face {
	font-family: 'PostNoBillsJaffna-Bold';
	src: url('../fonts/PostNoBillsJaffna-Bold.eot');
	src: local('☺'), url('../fonts/PostNoBillsJaffna-Bold.woff') format('woff'), url('../fonts/PostNoBillsJaffna-Bold.ttf') format('truetype'), url('../fonts/PostNoBillsJaffna-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}



body {
	margin: 0;
	padding: 0;
	width: 1920px;
	font-family: 'PT Sans', sans-serif;
	color: #969696;
}

*,
*::before,
*::after {
box-sizing: border-box;

}

header {
	width: 100%;
	background-color: black;
}

.header__info {
	max-width: 1110px;
	height: 44px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.header__contacts,
.header__sign {
	display: flex;
	align-items: center;
	font-family: 'PT Sans', sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	color: #969696;
}

.header__sign::before {
	content: "";
	background: url("../images/sign.png") no-repeat 0 50%;
	width: 15px;
	height: 15px;
	padding-left: 17px;
}

.header__contacts span:not(:first-child) {
	padding: 0px 15px;
}

.header__callitem {
	background: url("../images/call.png") no-repeat 0 50%;
	padding: 0 15px 0 25px;
}

.header__link  {
	color: #969696;
	text-decoration: none;
	padding: 0 5px;
}

.sub-header {
	width: 100%;
	background-color: #0F0F0F;
}

.sub-header__row {
	max-width: 1110px;
	height: 80px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.sub-header__logo {
	font-family: 'PostNoBillsJaffna-Bold';
	font-size: 36px;
	color: #FFFFFF;
	text-transform: uppercase;
}

.sub-header__block {
	display: flex;
	justify-content: space-between;
}


.sub-header__link:hover {
 background-color: #1F1F1F;
}

.sub-header__link {
    font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	color: #969696;
	text-decoration: none;
	text-transform: uppercase;
	padding: 29px 20px 33px;
}
.basket {
	margin-right: 45px;
	margin-left: 40px;
}

.container {
	width: 100%;
	margin: 0 auto;

}

.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
 	background: url("../images/intro.png") no-repeat center;
	width: 100%;
	height: 810px;
}

.intro__inner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto 80px;
	border: 4px solid white;
	width: 320px;
	height: 320px;
}

.intro__title {
	border-bottom: 2px solid #fff; 
	font-family: 'PostNoBillsJaffna-Bold';
	font-size: 64px;
	color:#FFFFFF;
	text-transform: uppercase;
	margin: 0;
	line-height: 1;
	
}


.intro__subtittle {
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 22px;
	text-align: center;
	color: #FFFFFF;	;
	text-transform: uppercase;
	margin: 0;
	line-height: 2;
}

.intro__info {
	text-align: center;
	margin: 0 auto;
	font-family: 'PT Sans', sans-serif;
	text-transform: uppercase;
	line-height: 24px;
	height: 96px;
	width: 730px;
	color: #FFFFFF;
}

.showcase {
	width: 100%;
	height: 1330px;
}

.showcase__row1 {
	display: grid;
	grid-template-columns: 1040px 880px;
	grid-template-rows: 730px;
}

.showcase__row2 {
	display: grid;
	grid-template-columns: 880px 1040px;
	grid-template-rows: 600px;
}

.showcase__block1 {
	width: 100%;
	background-color: #000000;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.ash2_b1 {
	margin: 93px 0 32px;
}

.showcase__products {
	width: 880px;
	display: flex;
	justify-content: space-between;
	margin: 50px 0 90px;

}

.showcase_model {
	display: flex;
	flex-direction: column;
}

.showcase__watches {
	width: 260px;
	height: 325px;
	background: url("../images/product.png") no-repeat center;
	background-color: #191B1C;
}

.name {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	font-size: 18px;
	color: #ffffff;
	line-height: 24px;
}

.cost {
	font-family: 'Playfair Display', serif;
	font-weight: 700px;
	font-size: 16px;
	line-height: 21px;
	margin-bottom: 0px;
}

.showcase__row1 h2 {
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	font-size: 36px;
	line-height: 58px;
	color: #FFFFFF;
	text-align: center;
	text-transform: uppercase;
}

.showcase__line {
	display: block;
	width: 120px;
	height: 0px;
	background-color: #FFFFFF;
	padding: 1px;
}

.showcase__block2 {
	width: 100%;
	background: url("../images/man.png") no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

.showcase__catalog {
	width: 376px;
	height: 146px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 150px;
}

.ash2_b2 {
	margin-bottom: 30px;
}

.catalog {
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 23px;
	color: #FFFFFF;
	padding: 10px 30px;
	border: 1px solid #FFFFFF;
	text-transform: uppercase;
	text-decoration: none;
	margin-top: 30px;
}

.showcase__block3 {
	background: url("../images/tux.png") no-repeat;
}

.showcase__block4 {
	background-color: #000000;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 50px 0;
}

.ash2_b4 {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	font-size: 36px;
	line-height: 48px;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-bottom: 5px;
}

.showcase__text {
	width: 471px; 
	height: 173px;
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: #FFFFFF;
	text-align: center;
}

.showcase__collection {
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
	color: white;
	padding: 15px 30px;
	border: 2px solid white;
	text-decoration: none;

}


