@font-face {
	font-family: 'Playfair Display-Bold';
	src: url('../fonts/PlayfairDisplay-Bold.eot');
	src: local('☺'), url('../fonts/PlayfairDisplay-Bold.woff') format('woff'), url('../fonts/PlayfairDisplay-Bold.ttf') format('truetype'), url('../fonts/PlayfairDisplay-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair Display-Regular';
	src: url('../fonts/PlayfairDisplay-Regular.eot');
	src: local('☺'), url('../fonts/PlayfairDisplay-Regular.woff') format('woff'), url('../fonts/PlayfairDisplay-Regular.ttf') format('truetype'), url('../fonts/PlayfairDisplay-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'PostNoBillsJaffna-Bold';
	src: url('../fonts/PostNoBillsJaffna-Bold.eot');
	src: local('☺'), url('../fonts/PostNoBillsJaffna-Bold.woff') format('woff'), url('../fonts/PostNoBillsJaffna-Bold.ttf') format('truetype'), url('../fonts/PostNoBillsJaffna-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}



body {
	margin: 0;
	padding: 0;
	max-width: 1920px;
	font-family: 'PT Sans', sans-serif;
	color: #969696;
}

*,
*::before,
*::after {
box-sizing: border-box;

}

header {
	width: 100%;
	background-color: black;
}

.header__info {
	max-width: 1110px;
	height: 44px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.header__contacts,
.header__sign {
	display: flex;
	align-items: center;
	font-family: 'PT Sans', sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	color: #969696;
}

.header__sign::before {
	content: "";
	background: url("../images/sign.png") no-repeat 0 50%;
	width: 15px;
	height: 15px;
	padding-left: 17px;
}

.header__contacts span:not(:first-child) {
	padding: 0px 15px;
}

.header__callitem {
	background: url("../images/call.png") no-repeat 0 50%;
	padding: 0 15px 0 25px;
}

.sign__link  {
	color: #969696;
	text-decoration: none;
	padding: 0 5px;
}

.sub-header {
	width: 100%;
	background-color: #0F0F0F;
}

.sub-header__row {
	max-width: 1110px;
	height: 80px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.sub-header__link:hover {
 background-color: #1F1F1F;
}

.sub-header__link {
    font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	color: #969696;
	text-decoration: none;
	text-transform: uppercase;
	padding: 31px 20px 30px;
}

.container {
	width: 100%;
	margin: 0 auto;

}

.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
 	background: url("../images/intro.png") no-repeat center;
	width: 100%;
	height: 810px;
}

.intro__inner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto 80px;
	border: 4px solid white;
	width: 320px;
	height: 320px;
}

.intro__title {
	border-bottom: 2px solid #fff; 
	font-family: 'PostNoBillsJaffna-Bold';
	font-size: 64px;
	color:#FFFFFF;
	text-transform: uppercase;
	margin: 0;
	line-height: 1;
	
}


.intro__subtittle {
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 22px;
	text-align: center;
	color: #FFFFFF;	;
	text-transform: uppercase;
	margin: 0;
	line-height: 2;
}

.intro__info {
	text-align: center;
	margin: 0 auto;
	font-family: 'PT Sans', sans-serif;
	text-transform: uppercase;
	height: 96px;
	width: 730px;
	color: #FFFFFF;
}

